*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: black url(Desktop1.jpg) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container {
  width: 80vh;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 47, 47, 0.4);
  border-radius: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-placeholder {
  width: 35vh;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: #ffffff;
  margin-bottom: 50%;
  color: black;
  transition: scale 0.3s ease-in-out;
  position: absolute;
  top: 10vh;
  opacity: 0.5;
}

.image-placeholder:hover {
  scale: 1.05;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40vh;
}

#crop-type,
#sale-price,
#estimated-yield {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65vh;
  height: 10vh;
  color: #2f2f2f;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  font-size: 20px;
  opacity: 0.5;
}
